.art {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  border-radius: 5px;
  overflow: hidden;
  background-color: #414141;
  position: relative;
}

.track-art {
  user-select: none;
  width: 100%;
  height: 100% !important;
  transition: opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.controls {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 96px 96px;
  opacity: 0;
  transition: opacity 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.controls:hover {
  opacity: 1;
}

.controls.play {
  background-image: url('./play.png');
}

.controls.pause {
  background-image: url('./pause.png');
}

.dim {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  will-change: background-color;
  transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.art:hover .dim {
  background-color: rgba(0, 0, 0, .4);
}