:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #000;
  width: 100vw;
  max-height: 300px;
  overflow: scroll;
}

li {
  padding: 5px;
  display: block;
  cursor: pointer;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.09);
}