:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

main {
  width: 100vw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px 10px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 300px;
  max-height: 300px;
  overflow: scroll;
  border-radius: 5px;
}

li {
  padding: 5px;
  display: block;
  cursor: pointer;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.progress-container {
  width: 100%;
  height: 5px;
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.progress-container .seek,
.buffered {
  width: 0;
  height: 5px;
  position: absolute;
  transform: translateY(0px);
  transition:
    height 0.2s cubic-bezier(0.215, 0.610, 0.355, 1),
    transform 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.progress-container:hover div {
  height: 10px;
  transform: translateY(-3.5px);
}

.progress-container .seek {
  width: 5%;
  background-color: #fff;
  z-index: 1;
}

.progress-container .buffered {
  width: 20%;
  background-color: rgb(255, 255, 255, 0.15);
}

img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto !important;
  border-radius: 5px;
}